[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "*"
numpy = "==1.19.3"
flask = "*"
werkzeug = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
